body {
	font-size: 13px;
	font-family: Helvetica, arial, sans-serif;
	margin: 20px auto;

}

h2 {
	font-size: 15px;
	margin: 0 0 0 10px;
}

.placeholder {
	outline: 1px dashed #4183C4;
}

.mjs-nestedSortable-error {
	background: #fbe3e4;
	border-color: transparent;
}

#tree {
	width: 550px;
	margin: 0;
}

ol.sortable,ol.sortable ol {
	list-style-type: none;
}

.sortable li div {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: move;
	margin: 5px;
	padding: 10px;
}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
	border-color: #999;
}

.disclose, .expandEditor {
	cursor: pointer;
	width: 20px;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
	display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
	display: inline-block;
}

.sortable span.ui-icon {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.sortable .menuDiv {
	background: #ffffff;
}

.menuEdit {
	background: #FFF;
	margin-bottom: 0 !important;
}

.itemTitle {
	vertical-align: middle;
	cursor: pointer;
}

.delete-menu, .highlight {
	float: right;
	cursor: pointer;
	margin-left: 10px;
}

h1, h2, h3 {
	text-align: center;
}

p,ol,ul,pre,form {
	margin-top: 0;
	margin-bottom: 0;
}

/* #competency-view li .disclose, #competency-view li .delete-menu, #library-view li .highlight { */
#competency-view li .disclose, #competency-view li .delete-menu {
	display: none;
}

.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	height: 50px;
}

#library-view {
	padding: 0;
	margin-right: 10px;
	margin-left: -10px;
	background-color: #e5e5e4;
}

.competency-tree {
	padding: 0;
	border: 3px solid #e5e5e4;
	background-color: #ffffff;
	min-height: 45px;
}

.competency-tree .menuDiv {
	background-color: #ffffff;
	margin: 0;
}

.glyphicon {
	padding: 0 5px;
}

.highlight-show {
color: #ffc906;
}

#rating-filter {
	background: #e5e5e4;
	border: none;
	color: black;
	width: 20px;
	float: right;
	margin-right: 10px;
}

.filterInput {
	float: right;
}

#competency-view {
	background-color: #e5e5e4;
	padding: 0;
}

.competencies {
	border: 3px solid #e5e5e4;
	background-color: #ffffff;
	padding: 0;
	margin-bottom: none;
}

.competencies .competency {
	border-bottom: 3px solid #e5e5e4;
}

.competencies .competency:last-child {
	border: none;
}

.competency .div
Div {
	background: white;
}

.competencies .glyphicon-chevron-up {
	float: right;
}

.glyphicon-option-vertical {
	float: right;
}

.glyphicon-minus, .glyphicon-plus{
	color: #e5e5e4;
}

.glyphicon-chevron-down, .glyphicon-chevron-up {
	float: right;
}

.glyphicon-share-alt {
	transform: rotate(270deg);
	color: #e5e5e4;
}

#competency-view .glyphicon-share-alt {
	display: none;
}

.performance {
	display: flex;
	text-align: center;
}

.learning-objectives p, .conditions p:first-child{
	padding-bottom: 10px;
	text-align: center;
}

.learning-objectives table tr,th, td {
	padding: 3px 10px;
	border: 1px solid #dddddd;
	text-align: center;
}

.conditions {
	padding
}
