body {
	font-size: 13px;
	font-family: Helvetica, arial, sans-serif;
	margin: 20px auto;

}

h1, h2, h3 {
	text-align: center;
}

p,ol,ul,pre,form {
	margin-top: 0;
	margin-bottom: 1em;
}

ol.sortable,ol.sortable ol {
	list-style-type: none;
}

.sortable li div {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: move;
	margin: 5px;
	padding: 10px;
}

#library-view {
	margin-left: -40px;
}

#competency-view ol {
	padding: 0;
}

.sortable li.mjs-nestedSortable-collapsed > ol,
#competency-view li .disclose, #competency-view li .delete-menu {
	display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
	display: inline-block;
}

.sortable span.ui-icon {
	display: inline-block;
	margin: 0;
	padding: 0;
}

/* li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
	border-color: #999;
} */

/* Border colour when an element is dragged */
.placeholder {
	outline: 1px dashed #4183C4;
}

/* Background colour when dragging is banned */
.mjs-nestedSortable-error {
	background: #fbe3e4;
	border-color: transparent;
}

/* #tree {
	width: 550px;
	margin: 0;
} */

.disclose, .expandEditor {
	cursor: pointer;
	width: 20px;
}

/* List items */
.menuDiv {
	background: #EBEBEB;
}

.menuEdit {
	background: #FFF;
	margin-bottom: 0 !important;
}

.itemTitle {
	vertical-align: middle;
	cursor: pointer;
}

/* Delete/star icons */
.delete-menu, .highlight {
	float: right;
	cursor: pointer;
	margin-left: 10px;
}

<<<<<<< HEAD
h1, h2, h3 {
	text-align: center;
}

p,ol,ul,pre,form {
	margin-top: 0;
	margin-bottom: 1em;
}

/* #competency-view li .disclose, #competency-view li .delete-menu, #library-view li .highlight { */
#competency-view li .disclose, #competency-view li .delete-menu {
	display: none;
}

#library-view {
	margin-left: -40px;

}

=======
/* Bootstrap icons */
>>>>>>> master
.glyphicon {
	top: 3px;
}

.highlight-show {
color: #ffc000;
}

<<<<<<< HEAD

	/* #rating-filter {
	height: 50px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	  color: white;
	  padding: 5px;
	  background:#2a4b7c;
	  border: none;
	  cursor: pointer;
	}
   */

   #rating-filter {
	background:#2a4b7c;
	color: white;
	
   }


  
   
=======
/* Sort field */
#sort-menu {
	background:#2a4b7c;
	color: white;
}

>>>>>>> master
